@model IEnumerable<Booking_vivu.HOADON>

@{
	ViewBag.Title = "DS_HoaDon";
	Layout = "~/Views/Share/QuanLy_layout.cshtml";
}

<div class="container">
	<div class="grid wide">
		<h3 class="header-h3">Danh sách hoá đơn</h3>
		<table class="table">
			<tr>
				<th>
					MÃ HOÁ ĐƠN
				</th>
				<th>
					NGÀY TẠO
				</th>
				<th>
					PHƯƠNG THỨC THANH TOÁN
				</th>
				<th>
					TÊN KHÁCH HÀNG
				</th>
				<th>
					TÊN NHÂN VIÊN
				</th>
				<th>
					TÌNH TRẠNG THANH TOÁN
				</th>
				<th>
					THÀNH TIỀN
				</th>
				<th>CHI TIẾT</th>
			</tr>

			@foreach (var item in Model)
			{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.IDHD)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NGAYDAT)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PHUONGTHUCTHANHTOAN.TENPT)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.KHACHHANG.HOTEN)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NHANVIEN1.TENNV)
				</td>
				<td>
					@if (item.TINHTRANGTT == true)
					{
						<span>Đã thanh toán</span>
					}
					else
					{
						<span>Chưa thanh toán</span>
					}
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.THANHTIEN)
				</td>
				<td>
					@Html.ActionLink("Xem", "Details", new { id = item.IDHD })
				</td>
			</tr>
			}

		</table>
	</div>
</div>
